* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

.stack {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; }

.stack > * {
  margin-block: 0; }

.stack > * + * {
  margin-block-start: var(--space, 0.5rem); }

body {
  position: relative;
  background-color: #000;
  color: #fff;
  height: 100vh;
  overflow: hidden; }
  body .background img {
    width: 100%;
    object-fit: cover; }
    @media (min-width: 720px) {
      body .background img {
        height: 100vh; } }

.page {
  position: absolute;
  top: 0; }

.page-login {
  display: flex;
  flex-direction: column;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); }

#login input,
#login button {
  width: 100%;
  padding: .5em;
  background-color: #323232;
  border: 2px inset #7c4f2b;
  color: white; }

#login input:hover {
  background-color: #373737; }

#login button:hover {
  background-color: #d6792c; }
