* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

body {
  position: relative;
  background-color: #000;
  color: #fff;
  height: 100vh;
  overflow: hidden; }
  body .background img {
    width: 100%;
    object-fit: cover; }
    @media (min-width: 720px) {
      body .background img {
        height: 100vh; } }

.page {
  position: absolute;
  top: 0; }

.page-login {
  display: flex;
  flex-direction: column;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%); }

#login {
  border: 1px solid black; }
