.page-login {
    display: flex;
    flex-direction: column;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#login {
    input,
    button {
        width: 100%;
        padding: .5em;
        background-color: #323232;
        border: 2px inset rgb(124, 79, 43);
        color: white;
    }
    input:hover {
        background-color: lighten(#323232, 2%);
    }
    button:hover {
        background-color: rgb(214, 121, 44);
    }
}